.padre{
	/*background:lightblue;
	width: 500px;
	height: 380px;*/
	/* padding: 30px; */
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
	/* justify-content: center; */
/* justify-content: space-between; */
	/* align-items:flex-end; */
	/* align-items:flex-start; */
	/* align-items:center; */
	/* align-items:baseline; */
	/* align-items:flex-end; */
	/* align-content:flex-end; */
	/* align-content:flex-start; */
	/* align-content:center; */
/*	align-content:space-between;*/
	/* align-items:space-between; */
	/* align-content:space-around; */

}
/*.hijo{
	background: black;
	width:100px;
	height: 100px;
	font-size: 25px;
	color: white;
	margin-right: 20px;
	text-align: center;
}*/
/*img{
	width: 120px;
	height: 120px;
	margin-right:15px;
	opacity: .6;
}*/
/*img:hover{
	opacity: 1;
}
.tres{
	order:-1;
}
.seis{
	order:-3;
}*/
/*----------------------------------------------------------------------------------*/
body{
	margin: 0px;
	box-sizing: border-box;
}

/*cabeza*/

.logo img{
	width: 80px;
	height: 80px;
	border:none;
}
.head{
	border-radius: 5px;
	width: auto;
	height: 100px;
	background: lightsalmon;
	display: flex;
	justify-content: space-between;
	padding:5px;
	font-weight: bold;
	margin-right: 10%;
	margin-left: 10%;

}
.menu ul{
display: flex;
direction: row;
flex-wrap: wrap;
/*margin-right: 10px;*/
}
ul li{
	margin-right: 10px;
	list-style: none;
}
/* cuerpo */
.padre{
	margin: 10px;
	background: lightgrey;
 	display: flex;
 	width: auto;
 	height: 720px;
 	flex-wrap: wrap;
 	justify-content: center;
 	margin-right: 10%;
	margin-left: 10%;

}
img{
	opacity: .6;
	transition: margin 1s;
}
img:hover{
	opacity: 1;
	margin: 10px;

}
/*img{
	width: 350px;
	height: 350px;
	border:1px solid black;
	margin-right: 5px;
}*/
/*pie*/
.pie{
	background: black;
	width: 100%;
	height: 100px;
}

/*reponsive*/

@media (max-width:2500px){

	img{
	width: 300px;
	height: 300px;
	border:1px solid black;
	margin-right: 5px;
		padding: 10px;
	}

}
@media (max-width:1790px){

	img{
	width: 250px;
	height: 250px;
	border:1px solid black;
	margin-right: 5px;
	}

}
@media (max-width:1300px){

	img{
	width: 200px;
	height: 200px;
	border:1px solid black;
	margin-right: 5px;
	}
}
@media (max-width:790px){

	img{
	width: 150px;
	height: 150px;
	border:1px solid black;
	margin-right: 5px;
	}
}
@media (max-width:390px){

	img{
	width: 100px;
	height: 100px;
	border:1px solid black;
	margin-right: 5px;
	}
}
@media (max-width:270px){

	img{
	width: 50px;
	height: 50px;
	border:1px solid black;
	margin-right: 5px;
	}
}

