*{
	box-sizing: border-box;
	margin: 0;

}
body{
	font-family:'Monteserrat', sans-serif;
	min-height:600px;
}
.hero {
	height:100vh;
	min-height:100%;
	width:90%;
	max-width:1200px;
	margin:0 auto;
	display:flex;
	gap:3rem;
	align-items:center;
	overflow:hidden;
	border:1px solid red;
	margin-top:10px;

}
.hero--reverse{
	flex-direction:row-reverse;
}

.hero_title{
	font-size:4 rem;
}
.hero_img{
	width:100%;

}

}
.menu{
	background-color:green;
	position :fixed;
	border:1px solid blue;
	margin-bottom:100px;
	width:100%;
}
[data-animation="fade"]{
	opacity: 0;
	transform: translate(100%);
	transition: .6s ease-in .3s;

	--opacity:1;
	--transform:translate(0);
}

[data-animation="show"]{
	opacity: 0;
	transform: scale(100%);
	transition: .6s ease-in .3s;

	--opacity:1;
	--transform:sacale(1);
}

[data-animation="up"]{
	opacity: 0;
	transform: translateY(100%);
	transition: .6s ease-in .3s;

	--opacity:1;
	--transform:translateY(0);
}

.unset{
	opacity: var(--opacity);
	transform: var(--transform);
}
/*.hero_figure{
	background-color: black;
}*/