*{
	box-sizing: border-box;
	margin: 0;

}
body{
	font-family:'Monteserrat', sans-serif;
	min-height:600px;
}
.hero {
	height:100vh;
	min-height:100%;
	width:90%;
	max-width:1200px;
	margin:0 auto;
	display:flex;
	gap:3rem;
	align-items:center;
	overflow:hidden;
}
.hero--reverse{
	flex-direction:row-reverse;
}

.hero_title{
	font-size:4 rem;
}
.hero_img{
	width:100%;
}